$success-color: hsl(120, 30%, 20%);
$success-bg   : hsl(90, 30%, 70%);
$fail-color   : hsl(0, 30%, 60%);
$fail-bg      : hsl(0, 30%, 20%);



div.flash {
  position:absolute;
  display: block;
  height: 2rem;
  width: 95%;
  margin: 0 auto;
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
  text-align: center;
  padding: 0rem 0 0rem 0;
  font-size: 1rem;
  opacity: 0.8;
  z-index: inherit;

}

div.flash.success {
  background-color: $success-bg;
  border-color:     $success-color;
  color:            $success-color; 
}

div.flash.failure {
  background-color: $fail-bg;
  border-color:     $fail-color;
  color:            $fail-color;
}

div#flash_container {
  position:fixed;
  height: 3em;
  width: 70vw;
  top:4em;
  left:15vw;
  z-index: 1000;
}